flask
alpaca-trade-api
pandas
python-dotenv
gunicorn
python-crontab
APScheduler>=3.10,<4.0
websocket-client
pymongo
yfinance
lxml
APScheduler
httpx
flask-cors
openai>=1.0.0
websockets



